@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.navbar {
  margin-bottom: 0;
  background-color: black;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
  max-width: inherit;
}

.navbar-toggler{
  color: white;
  float: left;
  height: 50px;
}

.navbar-collapse h4 {
  color: black;
}

.navbar-collapse .text-muted {
  color: black;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: black;
}
.social a:hover {
  color: gray;
}

.jumbotron {
  /* padding-top: 6rem; */
  /* padding-bottom: 6rem; */
  margin-bottom: 0;
  background-image: url("images/pexels.jpeg");
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

h1, h3 {
  position: relative;
  font-weight: 300;
  font-weight: bold;
  color: white;
}

h5 {
  color: white;
}

.jumbotron .container{
  max-width: 100vh;
}

#skills-container, #projects-container {
  max-width: 80rem;
}
/*
.projects {
  min-height: 50rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
  height: 100vh;
} */

.skills {
  min-height: 50rem;
  margin-top: 10rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.skill {
  float: left;
  width: 20%;
  padding: .75rem;
  padding-bottom: 5rem;
  border: 0;
}

.skills-header, .projects-header{
  text-align: center;
  color: white;
  font-size: 25px;
}

.train-card, .gif-card, .hangman-card, .trivia-card, .employee-card, .crystal-card{
height: 100%;
width: 100%
}

.card > img {
  margin-bottom: 1rem;
}

.card-text {
  font-size: 85%;
  color: white;
}

footer {
  height: auto;
  line-height: 1;
  margin-top: 2rem;
}
body {
  line-height: normal;
  background-image: url("images/shattered-island.gif");

}
footer, #footerContainer {
  text-align: right;
  padding-top: 5px;
  background-color: black
}

.btt {
  color: white;
}

.inverse {
  background-color: #222;
}
.navbar-inverse{
  background-color: #EEEEEE;
}
